*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --main-red: rgb(222, 50, 50);
    --main-green: rgb(0, 99, 65);
    --secondary-green: greenyellow;
}
body,html{
    min-height: 100vh;
    min-width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./tacos_bg.jpg);
    background-size: cover;    
}
@font-face {
    font-family: mexico;
    src: url(./mexcellent/mexcellent3d.otf);
}
#content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
header{
    font-family: mexico ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(222, 50, 50);
    user-select: none;
}

header li{
    list-style-type: none;
}

header h1{
    font-size: 5vw;
    color: white;
}

header :not(h1){
    font-size: 3vw;
    color: var(--secondary-green);
}

header li a{
    position: relative;
    top: 0px;
    text-decoration: none;
    transition: all ease 0.5s;
}

header li a:hover{
    top: -5px;
}

header ul{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 3vw;
    align-items: center;
}
main{
    flex: 1;
    padding: 10px;
}
.about{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.about > *{
    flex: 1;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.465);
    max-width: 100%;
}

.info{
    background: var(--main-green);
    color: white;
    border: thick double var(--main-red);
    padding-left: 10px;
    border-radius: 10px;
}
footer{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.417);
    color: white;
    display: flex;
    justify-content: center;
}


