*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --main-red: rgb(222, 50, 50);
    --main-green: rgb(0, 99, 65);
    --secondary-green: greenyellow;
}
body,html{
    min-height: 100vh;
    min-width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./tacos_bg.jpg);
    background-size: cover;    
}
@font-face {
    font-family: mexico;
    src: url(./mexcellent/mexcellent3d.otf);
}
#content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
header{
    font-family: mexico ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(222, 50, 50);
    border: thick double var(--main-green);
}

header li{
    list-style-type: none;
}

header h1{
    font-size: 5vw;
    color: white;
}

header :not(h1){
    font-size: 3vw;
    color: var(--secondary-green);
}

header li a{
    position: relative;
    top: 0px;
    text-decoration: none;
    transition: all ease 0.5s;
}

header li a:hover{
    top: -5px;
    color: white;
}

header ul{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 3vw;
    align-items: center;
}
main{
    flex: 1;
    padding: 10px;
}
.about{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.about > *{
    flex: 1;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.465);
    min-width: 450px;
    
}

.info{
    background: var(--main-green);
    color: white;
    border: thick double var(--main-red);
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.socials img{
    width: 1.5rem;
    fill: white;
}

.socials li{
    display: flex;
    align-items: center;
}

.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 10px;
}

.menu > div{
    background: rgba(211, 211, 211, 0.924);
    border-radius: 5px;
    padding: 10px;
    border: thick double var(--main-red);
    height: min-content;
}

.item-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.3s ease;
    padding: 15px;
}

.item-menu:hover{
    background: grey;
}
.item-menu > img{
    width: 80%;
}

p::first-line{
    line-height: 0;
}
footer{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.417);
    color: white;
    display: flex;
    justify-content: center;
}


